ManipDetect/ManipDetect_n8n_workflow.json
{
  "name": "ManipDetect",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manipdetect",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wd-node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "webhookId": "manipdetect-main"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-input-type",
              "leftValue": "={{ $json.input_type }}",
              "rightValue": "url",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wd-node-if",
      "name": "Text or URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://r.jina.ai/{{ $('Webhook').first().json.content }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            },
            {
              "name": "X-Return-Format",
              "value": "text"
            }
          ]
        },
        "options": {
          "timeout": 25000
        }
      },
      "id": "wd-node-jina",
      "name": "Jina Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "wd-node-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputType = $('Webhook').first().json.input_type;\n\nlet text;\n\nif (inputType === 'url') {\n  const jinaData = $('Jina Scrape').first().json;\n  text = jinaData.body || jinaData.data || jinaData.content || JSON.stringify(jinaData);\n} else {\n  text = $('Webhook').first().json.content;\n}\n\nconst truncatedText = String(text || 'No content extracted').trim().slice(0, 4000);\n\nreturn [{ json: { text_to_analyse: truncatedText } }];"
      },
      "id": "wd-node-code",
      "name": "Prepare Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        340
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Manipulation_Taxonomy",
          "mode": "name"
        },
        "options": {}
      },
      "id": "wd-node-airtable",
      "name": "Fetch Taxonomy",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        340
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "SET_YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable — ManipDetect"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"model\": \"gpt-4o\", \"max_tokens\": 2000, \"temperature\": 0.2, \"messages\": [{\"role\": \"system\", \"content\": \"You are an expert analyst in rhetoric and the psychology of persuasion.\\n\\nYour role is to analyse a text or the content of a web page and identify the manipulation techniques present.\\n\\nINSTRUCTIONS:\\n1. Read the submitted text carefully.\\n2. Identify each passage that matches a technique in the taxonomy.\\n3. The same technique can appear multiple times.\\n4. A passage can combine several techniques — flag this.\\n5. Do NOT diagnose the author of the text — analyse the text only.\\n6. Assess the overall intensity: low (1-2 techniques), moderate (3-5), high (6+) or systemic (combined and repeated techniques).\\n7. If no technique is detected, say so clearly.\\n8. Be pedagogical, not alarmist.\\n\\nRETURN ONLY valid JSON in this exact structure:\\n{\\n  \\\"score_global\\\": <integer>,\\n  \\\"intensite\\\": \\\"<low|moderate|high|systemic>\\\",\\n  \\\"techniques\\\": [\\n    {\\n      \\\"nom\\\": \\\"<exact technique name from taxonomy>\\\",\\n      \\\"extrait\\\": \\\"<exact passage from the text>\\\",\\n      \\\"explication\\\": \\\"<why this is this technique>\\\",\\n      \\\"suggestion\\\": \\\"<how to respond or position yourself>\\\"\\n    }\\n  ],\\n  \\\"synthese\\\": \\\"<2-3 sentences summarising the overall rhetorical profile>\\\"\\n}\\n\\nDO NOT add any text before or after the JSON. Return raw JSON only.\"}, {\"role\": \"user\", \"content\": \"=Here is the taxonomy of manipulation techniques:\\\\n\\\\n{{ $('Fetch Taxonomy').all().map(r => '- ' + (r.json.fields.Name || r.json.fields.Nom) + ': ' + (r.json.fields.Definition || r.json.fields.Definition) + ' | Signals: ' + (r.json.fields.Signals || r.json.fields.Signaux)).join('\\\\n') }}\\\\n\\\\nText to analyse:\\\\n\\\\n{{ $('Prepare Text').first().json.text_to_analyse }}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wd-node-llm",
      "name": "LLM Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM JSON response and clean it if needed\nconst llmOutput = $('LLM Analysis').first().json;\nconst rawContent = llmOutput.choices[0].message.content;\n\n// Strip markdown code fences if LLM added them despite instructions\nconst cleaned = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // Fallback if JSON is still malformed\n  parsed = {\n    score_global: 0,\n    intensite: 'low',\n    techniques: [],\n    synthese: 'Analysis could not be parsed. Please try again with a shorter text.'\n  };\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "wd-node-parse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "wd-node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        340
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP REQUIRED\n\nBefore activating this workflow, replace these 3 things:\n\n**1. Airtable — node `Fetch Taxonomy`**\n- Replace `YOUR_AIRTABLE_BASE_ID` with your base ID (format: appXXXXXXXX)\n- Create an Airtable credential in n8n (Settings > Credentials > New > Airtable Token API)\n- Scope required: data.records:read\n\n**2. OpenAI API Key — node `LLM Analysis`**\n- Replace `YOUR_OPENAI_API_KEY` with your real key from platform.openai.com\n- To use Claude instead: change URL to https://api.anthropic.com/v1/messages and update body format (see guide)\n\n**3. Lovable**\n- Copy the Webhook URL (visible when you open the Webhook node)\n- Paste it in Lovable replacing PLACEHOLDER_N8N_WEBHOOK_URL\n\n---\n**Test payload (use in Postman or Hoppscotch):**\nPOST to your webhook URL with:\n{\n  \"input_type\": \"text\",\n  \"content\": \"Only 3 spots left. Offer expires at midnight. After everything I have done for you, I hope you won't let me down.\"\n}\n\n**Test URL payload:**\n{\n  \"input_type\": \"url\",\n  \"content\": \"https://coachings.richissime.net/lm/roadmap-personnalisee/\"\n}",
        "height": 520,
        "width": 420,
        "color": 5
      },
      "id": "wd-node-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        600
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Text or URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text or URL?": {
      "main": [
        [
          {
            "node": "Jina Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Jina Scrape": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text": {
      "main": [
        [
          {
            "node": "Fetch Taxonomy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Taxonomy": {
      "main": [
        [
          {
            "node": "LLM Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Analysis": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "manipdetect-v1-0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "ManipDetect"
    },
    {
      "name": "Le Wagon"
    },
    {
      "name": "AI Product"
    }
  ]
}